<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    

    <title>Blog Template for Bootstrap</title>
  </head>

  <body>


    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
   
          <div class="blog-post" *ngFor= "let post of posts">
            <h2 class="blog-post-title">{{post.title}}</h2>
            <p class="blog-post-meta"><b>[{{post.voteCount}} vote(s)]</b> | {{post.created_date}} by <a href="#">{{post.authorName}}</a></p>
            <p>{{post.post}}</p>
            <button value="Like" (click)= "updateVote(post._id, 'Like')"><i class="fas fa-thumbs-up"></i></button>
            <button value="disLike" [disabled]="!post.voteCount" (click)= "updateVote(post._id, 'disLike')"><i class="fas fa-thumbs-down"></i></button>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

  

      </div><!-- /.row -->

    </main><!-- /.container -->

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>

